/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


.view-icon{
    background: url("#{resource['images/icons/actions/view.png']}") no-repeat !important;
    height:16px;
    width:16px;
}

.edit-icon{
    background: url("#{resource['images/icons/actions/edit.png']}") no-repeat !important;
    height:16px;
    width:16px;
}

.delete-icon{
    background: url("#{resource['images/icons/actions/delete.png']}") no-repeat !important;
    height:16px;
    width:16px;
}

.delete-disabled-icon{
    background: url("#{resource['images/icons/actions/delete_disabled.png']}") no-repeat !important;
    height:16px;
    width:16px;
}

.edit-disabled-icon{
    background: url("#{resource['images/icons/actions/edit_disabled.png']}") no-repeat !important;
    height:16px;
    width:16px;
}



.account-icon{
    background: url("#{resource['images/icons/accounts.png']}") no-repeat !important;
    height:16px;
    width:16px;
}

.residents-icon{
    background: url("#{resource['images/icons/actions/residents.png']}") no-repeat !important;
    height:16px;
    width:16px;
}